<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124812028575-lrlfh1q4od8tjr3jmtsluqldecia5f1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124812028575-lrlfh1q4od8tjr3jmtsluqldecia5f1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBTycwCk7MBrXWNuShxyjdGwfSDlXGwaNk</string>
	<key>GCM_SENDER_ID</key>
	<string>124812028575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pappcorn.mialbum</string>
	<key>PROJECT_ID</key>
	<string>mialbum-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mialbum-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124812028575:ios:ad9ee20afd7907418050aa</string>
</dict>
</plist>