$primary: (
  50: #f6e1e8,
  100: #e9b5c5,
  200: #db849e,
  300: #cc5377,
  400: #c12e5a,
  500: #b6093d,
  600: #af0837,
  700: #a6062f,
  800: #9e0527,
  900: #8e021a,
  A100: #ffbac2,
  A200: #ff8794,
  A400: #ff5467,
  A700: #ff3b50,
  contrast: (
    50: #2b0748,
    100: #2b0748,
    200: #2b0748,
    300: #2b0748,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #2b0748,
    A200: #2b0748,
    A400: #2b0748,
    A700: #2b0748,
  ),
);

$accent: (
  50: #ebe0ed,
  100: #ccb3d1,
  200: #aa80b3,
  300: #884d95,
  400: #6f267e,
  500: #550067,
  600: #4e005f,
  700: #440054,
  800: #3b004a,
  900: #2a0039,
  A100: #d16fff,
  A200: #c13cff,
  A400: #b109ff,
  A700: #a300ef,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
